footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 30px;
  padding: 5px 20px;
  margin: 0 auto;
  /* min-width: 100vw; */
} 

.social {
  margin: 0 auto;
  padding: 20px;
}

.hover {
  transition: all 0.3s ease-in-out;
}

.hover:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

p {
  margin: 10px;
}

a {
  margin-right: 20px;
}
/*RESOLVER O PROBLEMA DA LARGURA DO FOOTER PARA DISPOSITIVOS MENORES!*/
/*RESOLVER PROBLEMA DE DISTÂNCIA DOS ÍCONES PARA O TEXTO! ESTÃO MUITO LONGE UM DO OUTRO!*/

/*ESTÁ OCORRENDO PROBLEMA DE SOBREPOSIÇÃO DOS PARÁGRAFOS!! AO MUDAR O p QUE CORRESPONDE SOMENTE AO FOOTER, TODOS OS p DOS CARDS TAMBÉM ESTÃO SENDO ALTERADOS!!!*/